@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
       <li>
            <a asp-action="Pessoas">Pessoa</a>
       </li>

       <li>
            <a asp-action="Telefones">Telefones</a>
       </li>
       <li>
            <a asp-action="TipoTelefones">Tipo de Telefones</a>
       </li>
       <li>
            <a asp-action="Enderecos">Enderecos</a>
       </li>
    </ul>
</div>
