@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>
<ul>
       <li>
            <a href="Pessoas">Pessoa</a>
       </li>

       <li>
            <a href="Telefones">Telefones</a>
       </li>
       <li>
            <a href="TipoTelefones">Tipo de Telefones</a>
       </li>
       <li>
            <a href="Enderecoes">Enderecos</a>
       </li>
    </ul>